.Description{
    width:100%;
    grid-column: 3;
    grid-row: 1/3;
    background-color: black;
}

.Header, .Text{
    padding: 5%;
    color: white;
}

.Header{
    font-size: 200%;
    font-weight: bold;
}

.Text{
    font-size: 150%;
}