.MapPlane{
    grid-column: 1;
    grid-row: 2;
    position: relative;
    background: url(../img/Leningrad.png);
    background-size: 100%;
}

.Dot{
    width: 5px;
    height:5px;
    align-content: center;
    position:absolute;
    border-width: 0px;
}

@keyframes into {
    0%{opacity:0%;}
    100%{opacity:70%;}
}

@keyframes out {
    0%{opacity:70%;}
    100%{opacity:10%;}
}

.PointStats{
    width:140px;
    height: 50px;
    opacity: 70%;
    position: absolute;
    background-color: white;
    border-radius: 5%;
    animation: into .5s;
}

.PointStats:hover{
    animation: out .5s;
    opacity: 10%;
}

.Point{
    position: absolute;
    background-color: red;
    width:1px;
    height:1px;
    border-radius:50%;
    transition-duration: .7s
}
.PointName{
    opacity: 1;
    font-size: 100%;
    margin-bottom: 10px;
}


.PointText{
    opacity: 1;
    font-size: 80%;
}
